<div class="max-w-5xl mx-auto px-4 py-6 md:py-10 lg:py-16">
  @if (devices.isError()) {
  <div class="flex flex-col justify-center items-center">
    <p-message severity="error"
      >Error loading . Please try again.
      <p-button
        size="small"
        icon="pi pi-refresh"
        label="Reload"
        severity="danger"
        (onClick)="devices.refetch()"
      ></p-button
    ></p-message>
  </div>
  }
  <div>
    <div class="flex justify-between">
      <h1 class="text-3xl font-bold mb-4">Devices</h1>
      @if (checkPermission('create')) {
      <button
        (click)="displayModal.set(true)"
        pButton
        type="button"
        label="Add Device"
        icon="pi pi-plus"
        class="mb-4"
      ></button>
      }
    </div>
    <div
      class="flex flex-col md:flex-row items-center justify-between px-2 mb-2"
    >
      <div class="flex flex-col md:flex-row gap-2">
        <div>
          <input
            pInputText
            id="deviceName"
            [(ngModel)]="deviceName"
            class="w-full"
            placeholder="Device Name"
            type="text"
            pSize="small"
          />
        </div>
        <div>
          <input
            pInputText
            id="status"
            [(ngModel)]="status"
            class="w-full"
            placeholder="Status"
            type="text"
            pSize="small"
          />
        </div>
      </div>
      <div class="h-full flex gap-2 justify-end items-center">
        <button
          pButton
          icon="pi pi-refresh"
          size="small"
          (click)="devices.refetch()"
          [loading]="devices.isLoading()"
        ></button>

        <button
          (click)="clearFilters()"
          pButton
          type="button"
          label="Clear Filters"
          icon="pi pi-times"
          size="small"
        ></button>
      </div>
    </div>

    <div class="border rounded-2xl border-gray-200 pb-4 mb-6">
      <p-table
        [value]="devices.data() || []"
        dataKey="id"
        size="small"
        [tableStyle]="{ 'min-width': '50rem', padding: '1rem' }"
        [loading]="devices.isLoading()"
      >
        <ng-template #header>
          <tr>
            <th pSortableColumn="id" style="width: 10%">
              ID <p-sortIcon field="id"></p-sortIcon>
            </th>
            <th pSortableColumn="name">
              Name <p-sortIcon field="name"></p-sortIcon>
            </th>
            <th pSortableColumn="status">
              Status <p-sortIcon field="status"></p-sortIcon>
            </th>
            <th>Actions</th>
            <th>Sensor Data</th>
          </tr>
        </ng-template>
        <ng-template #body let-device>
          <tr [pSelectableRow]="device">
            <td>
              <span class="font-bold">{{ device.id }}</span>
            </td>
            <td>{{ device.name }}</td>
            <td>
              <p-tag
                rounded="true"
                [icon]="
                  device.status === true
                    ? 'pi pi-check'
                    : 'pi pi-exclamation-triangle'
                "
                [value]="
                  device.status === true
                    ? 'Active'
                    : device.status === false
                    ? 'Inactive'
                    : device.status
                "
                [severity]="
                  device.status === true
                    ? 'success'
                    : device.status === false
                    ? 'danger'
                    : 'warn'
                "
              ></p-tag>
            </td>
            <td>
              <button
                (click)="editDevice(device)"
                pButton
                type="button"
                class="p-button-text"
                icon="pi pi-pencil"
              ></button>
              @if(checkPermission('delete')){
              <button
                (click)="deleteDevice(device.id)"
                pButton
                type="button"
                class="p-button-text"
                severity="danger"
                icon="pi pi-trash"
              ></button>
              }
            </td>
            <td>
              <a [routerLink]="['/device', device.id]">
                <button
                  pButton
                  type="button"
                  class="p-button-text"
                  icon="pi pi-external-link"
                  iconPos="right"
                  severity="info"
                ></button>
              </a>
            </td>
          </tr>
        </ng-template>
        <ng-template #emptymessage>
          <tr>
            <td colspan="5">
              <span
                class="flex flex-col items-center justify-center gap-3 py-6"
              >
                No devices found.
                <button
                  pButton
                  type="button"
                  label="Refresh"
                  icon="pi pi-refresh"
                  size="small"
                  (click)="devices.refetch()"
                ></button>
              </span>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
<p-dialog
  maskStyleClass="backdrop-blur-sm"
  header="Device Details"
  [header]="selectedDevice() ? 'Edit device' : 'Add New device'"
  [(visible)]="displayModal"
  [modal]="true"
  [style]="{ width: '500px', }"
  maximizable="true"
>
  <app-device-modal
    [deviceData]="selectedDevice()"
    (mutationStatus)="onCreateDevice($event)"
    [readonly]="!checkPermission('edit')"
  />
</p-dialog>
<p-toast />
<p-confirmdialog />
