<div class="max-w-5xl mx-auto px-4 py-6 md:py-10 lg:py-16">
  @if (reactors.isLoading()) {
  <div class="flex flex-col justify-center items-center">
    <p-progress-spinner
      strokeWidth="4"
      fill="transparent"
      animationDuration=".5s"
      ariaLabel="Loading Zen Stats"
    />
    <span>Loading Reactors</span>
  </div>
  } @else if (reactors.isError()) {
  <div class="flex flex-col justify-center items-center">
    <p-message severity="error"
      >Error loading Zen Stats. Please try again.
      <p-button
        size="small"
        icon="pi pi-refresh"
        label="Reload"
        severity="danger"
        (onClick)="reactors.refetch()"
      ></p-button
    ></p-message>
  </div>
  } @else if (reactors.data()) {
  <div>
    <div class="flex flex-col md:flex-row justify-between px-2">
      <div>
        <h1 class="text-3xl font-bold mb-4">Reactors</h1>
      </div>
      <div>
        <button
          (click)="displayModal.set(true)"
          pButton
          type="button"
          label="Add Reactor"
          icon="pi pi-plus"
          class="mb-4"
        ></button>
      </div>
    </div>

    <div class="border rounded-2xl border-gray-200 pb-4 mb-6">
      <p-table
        [value]="reactors.data() ?? []"
        dataKey="id"
        size="small"
        [tableStyle]="{ 'min-width': '50rem', padding: '1rem' }"
      >
        <ng-template #header>
          <tr>
            <th>Name</th>
            <th>Pathway</th>
            <th>Status</th>
            <th>Actions</th>
          </tr>
        </ng-template>
        <ng-template #body let-reactor>
          <tr [pSelectableRow]="reactor">
            <td>{{ reactor.name }}</td>
            <td>{{ reactor.pathway }}</td>
            <td>
              <span
                class="inline-block px-2 py-0.5 text-xs font-semibold rounded-full"
                [ngClass]="{
                  'bg-green-100 text-green-800': reactor.status === 'active',
                  'bg-red-100 text-red-800': reactor.status === 'inactive',
                  'bg-gray-100 text-gray-800':
                    reactor.status !== 'active' && reactor.status !== 'inactive'
                }"
              >
                {{ reactor.status }}
              </span>
            </td>
            <td>
              <button
                pButton
                type="button"
                icon="pi pi-pencil"
                class="p-button-text p-button-sm"
                (click)="editReactor(reactor)"
              ></button>
              <button
                pButton
                type="button"
                icon="pi pi-trash"
                class="p-button-text p-button-sm"
                (click)="deleteReactor(reactor.id)"
                severity="danger"
              ></button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
  }

  <p-dialog
    maskStyleClass="backdrop-blur-sm"
    header="Reactor Details"
    [header]="selectedReactor() ? 'Edit reactor' : 'Add New reactor'"
    [(visible)]="displayModal"
    [modal]="true"
    [style]="{ width: '500px', }"
    maximizable="true"
  >
    <app-reactor-modal
      [reactorData]="selectedReactor()"
      (mutationStatus)="onMutateReactor($event)"
    />
  </p-dialog>
  <p-toast />
  <p-confirmdialog />
</div>
