<div class="bg-white shadow px-5 md:px-20">
  <div class="flex items-center justify-between py-3">
    <div class="flex items-center gap-4">
      <button
        class="text-gray-600 text-xl cursor-pointer block md:hidden"
        (click)="sidebarVisible.set(!sidebarVisible())"
      >
        <i class="pi pi-list md:text-3xl"></i>
      </button>

      <a href="/">
        <img src="assets/zen logo.png" alt="Zen Logo" class="h-10 w-auto"
      /></a>

      <span class="hidden md:block font-medium text-gray-700">
        Welcome Back,
        <span class="font-semibold text-green-600">{{ username()?.name }}</span>
      </span>
    </div>
    <div class="hidden md:block">
      <button
        pButton
        severity="danger"
        icon="pi pi-sign-out"
        (click)="logOut()"
        [loading]="loading()"
        label="Logout"
      >
        
      </button>
    </div>
  </div>
</div>
