<p-drawer [(visible)]="visible" header="Zen">
  <div class="flex flex-col justify-between h-full">
    <div>
      @for (item of sidebarLinks(); track $index) {
      <a
        pRipple
        [routerLink]="item.route"
        (click)="visible.set(false)"
        routerLinkActive="active"
        class="flex items-center p-2 my-1 font-medium text-gray-700 rounded-lg hover:bg-gray-200 hover:text-gray-900"
      >
        <i [class]="'pi pi-' + item.icon + ' mr-3 text-xl'"></i>
        <span>{{ item.label }}</span>
      </a>

      }
    </div>
    <button
      pButton
      type="button"
      label="Logout"
      icon="pi pi-sign-out"
      severity="danger"
      (click)="logOut()"
      size="small"
      class="w-1/2"
      [loading]="loading()"
    ></button>
  </div>
</p-drawer>
