<div class="max-w-5xl mx-auto px-4 py-6 md:py-10 lg:py-16">
  @if (devices.isLoading()) {
  <div class="flex flex-col justify-center items-center">
    <p-progress-spinner
      strokeWidth="4"
      fill="transparent"
      animationDuration=".5s"
      ariaLabel="Loading Zen Stats"
    />
    <span>Loading Devices</span>
  </div>
  } @else if (devices.isError()) {
  <div class="flex flex-col justify-center items-center">
    <p-message severity="error"
      >Error loading Zen Stats. Please try again.
      <p-button
        size="small"
        icon="pi pi-refresh"
        label="Reload"
        severity="danger"
        (onClick)="devices.refetch()"
      ></p-button
    ></p-message>
  </div>
  } @else if (!devices.data()?.length) {
  <app-empty-state (reload)="devices.refetch()" />} @else {
  <div>
    <div class="space-y-1 mb-6">
      <h1 class="text-3xl font-semibold text-gray-900">Dashboard</h1>
      <h2 class="text-xl md:text-2xl font-medium text-gray-700">
        Available Devices
      </h2>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 space-x-2">
      @for(device of devices.data(); track $index) {
      <app-device-card routerLink="/device/{{ device.id }}" [device]="device" />
      }
    </div>
  </div>
  }
</div>
